In [1]:
import pandas as pd

In [2]:
df = pd.concat([pd.read_csv('dataset/cpcb_dly_aq_delhi-2011.csv'),
                pd.read_csv('dataset/cpcb_dly_aq_delhi-2012.csv'),
                pd.read_csv('dataset/cpcb_dly_aq_delhi-2013.csv'),
                pd.read_csv('dataset/cpcb_dly_aq_delhi-2014.csv'),
                pd.read_csv('dataset/cpcb_dly_aq_delhi-2015.csv')])

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [3]:
df.head()

,Agency,City/Town/Village/Area,Location of Monitoring Station,NO2,PM 2.5,RSPM/PM10,SO2,SPM,Sampling Date,State,Stn Code,Type of Location
0,Central Pollution Control Board,Delhi,"Pritampura, Delhi",38.0,NaN,109.0,4.0,NaN,1/4/2011,Delhi,531,"Residential, Rural and other Areas"
1,Central Pollution Control Board,Delhi,"Pritampura, Delhi",44.0,NaN,331.0,4.0,NaN,1/7/2011,Delhi,531,"Residential, Rural and other Areas"
2,Central Pollution Control Board,Delhi,"Pritampura, Delhi",52.0,NaN,193.0,5.0,NaN,1/12/2011,Delhi,531,"Residential, Rural and other Areas"
3,Central Pollution Control Board,Delhi,"Pritampura, Delhi",43.0,NaN,264.0,5.0,NaN,17/01/2011,Delhi,531,"Residential, Rural and other Areas"
4,Central Pollution Control Board,Delhi,"Pritampura, Delhi",41.0,NaN,225.0,5.0,NaN,20/01/2011,Delhi,531,"Residential, Rural and other Areas"

In [4]:
df = df.drop(['Agency', 'City/Town/Village/Area', 'PM 2.5', 'SPM', 'Stn Code', 'State'], axis=1)
df.head()

,Location of Monitoring Station,NO2,RSPM/PM10,SO2,Sampling Date,Type of Location
0,"Pritampura, Delhi",38.0,109.0,4.0,1/4/2011,"Residential, Rural and other Areas"
1,"Pritampura, Delhi",44.0,331.0,4.0,1/7/2011,"Residential, Rural and other Areas"
2,"Pritampura, Delhi",52.0,193.0,5.0,1/12/2011,"Residential, Rural and other Areas"
3,"Pritampura, Delhi",43.0,264.0,5.0,17/01/2011,"Residential, Rural and other Areas"
4,"Pritampura, Delhi",41.0,225.0,5.0,20/01/2011,"Residential, Rural and other Areas"

In [5]:
df['Sampling Date'] = pd.to_datetime(df['Sampling Date'])

In [6]:
df.head()

,Location of Monitoring Station,NO2,RSPM/PM10,SO2,Sampling Date,Type of Location
0,"Pritampura, Delhi",38.0,109.0,4.0,2011-01-04,"Residential, Rural and other Areas"
1,"Pritampura, Delhi",44.0,331.0,4.0,2011-01-07,"Residential, Rural and other Areas"
2,"Pritampura, Delhi",52.0,193.0,5.0,2011-01-12,"Residential, Rural and other Areas"
3,"Pritampura, Delhi",43.0,264.0,5.0,2011-01-17,"Residential, Rural and other Areas"
4,"Pritampura, Delhi",41.0,225.0,5.0,2011-01-20,"Residential, Rural and other Areas"

In [7]:
df = df.sort_values(by='Sampling Date')
df.head()

,Location of Monitoring Station,NO2,RSPM/PM10,SO2,Sampling Date,Type of Location
371,"Shahadra, Delhi",52.0,417.0,4.0,2011-01-03,Industrial Area
151,"Janakpuri, Delhi",56.0,312.0,4.0,2011-01-03,"Residential, Rural and other Areas"
0,"Pritampura, Delhi",38.0,109.0,4.0,2011-01-04,"Residential, Rural and other Areas"
448,"N.Y. SCHOOL, Sarojini Nagar, Delhi",38.0,144.0,2.0,2011-01-04,"Residential, Rural and other Areas"
640,"Mayapuri Industrial Area, Delhi",52.0,219.0,23.0,2011-01-04,Industrial Area

In [8]:
locs = ['Nizamuddin_residential', 'Shahadra_industrial', 'Mayapuri_industrial', 
        'N.Y. SCHOOL_residential', 'Siri Fort_residential', 'Pritampura_residential', 
        'Shahzada Bagh_industrial', 'Janakpuri_residential']

In [9]:
import csv

for loc in locs:
    data = open(str('city_data 2011-2015/'+loc+'.csv'), 'w')
    rows = []
    header = ['Date', 'NO2', 'SO2', 'RSPM/PM10']
    rows.append(header)
    writer = csv.writer(data)
    
    for i in range(df.shape[0]):
        r1 = list(df.iloc[i, :])
        r = [str(r1[4].date()), r1[1], r1[3], r1[2]]
        cur_loc = r1[0]

        if (cur_loc.split(',')[0]).split()[0]==(loc.split('_')[0]).split()[0]:
            rows.append(r)
    writer.writerows(rows)
writer.writerows([])